.background-blur {
    border: 1px solid rgba(255, 255, 255, 0.75); 
    background: rgba(180, 255, 248, 0.15); 
    backdrop-filter: blur(2px) saturate(150%); 
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2); 
    color: white; 
    text-align: center;
}
